%h1= @movie.title
.jumbotron
  .col-md-6.col-md-offset-2.col-lg-2.col-lg-offset-0
    = image_tag(MovieApiInfo.poster(@movie.title), size: "320x458")
  .col-md-6.col-md-offset-2.col-lg-8.col-lg-offset-2
    = MovieApiInfo.plot(@movie.title)
  %br
  %br
  .col-md-6.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h4
      Rating
      = MovieApiInfo.rating(@movie.title)
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
