%h1= @movie.title
.jumbotron
  .col-md-6.col-md-offset-2.col-lg-2.col-lg-offset-0
    = image_tag(MovieApiCover.poster(@movie.title, @movie.cover), size: "320x458")
  .col-md-6.col-md-offset-2.col-lg-8.col-lg-offset-2
    = MovieApiPlot.plot(@movie.title, @movie.description)
  %br
  %br
  .col-md-6.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h4
      Rating
      = MovieApiRating.rating(@movie.title)
- if user_signed_in?
  .text-center
    %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
    = render "comments/form", movie: @movie, comment: Comment.new(movie_id: @movie.id, user_id: current_user.id)
%h3.text-center
  Comments
%table.table
  %thead
  %tbody
    %tr
    - @comments.each do |comment|
      %td= comment.text
      %td= comment.decorate.user_name
      %td
        = link_to [@movie, comment], method: :delete do
          %button.btn.btn-default
            = fa_icon "times"

    = render "rates/form", movie: @movie, rate: Rate.new(movie_id: @movie.id, user_id: current_user.id)
%h3.text-center
  Rates
%table.table
  %thead
  %tbody
    %tr
    - @rates.each do |rate|
      %td= rate.rating
      %td
        = link_to [@movie, rate], method: :delete do
          %button.btn.btn-default
            = fa_icon "times"
